## Prioritas 1

### 1. Import Library

In [23]:
import pandas as pd #file based source
from pymysql import connect #database source
import requests #api

### 2. Load Data

In [4]:
df_transactions = pd.read_csv('transactions.csv')
df_products = pd.read_excel('products.xlsx')

### 3. Display Data

In [6]:
print("20 Data Transaksi dari Atas")
display(df_transactions.head(20))
print("20 Data Produk dari Atas")
display(df_products.head(20))

20 Data Transaksi dari Atas

,Transaction ID,User ID,Item Name,Quantity,Value (USD),Status
0,1,1001,Smartphone,1,799.99,success
1,2,1002,Headphones,2,399.98,success
2,3,1003,Laptop,1,999.99,success
3,4,1004,Bluetooth Speaker,1,79.99,success
4,5,1005,Smartwatch,1,299.99,pending
5,6,1006,Tablet,1,399.99,success
6,7,1007,Desktop Computer,1,1499.99,failed
7,8,1008,TV,1,1499.99,success
8,9,1009,Printer,1,199.99,success
9,10,1010,Wireless Mouse,1,29.99,success
10,11,1011,Wireless Keyboard,1,49.99,success
11,12,1012,Gaming Console,1,399.99,failed
12,13,1013,External Hard Drive,1,79.99,success
13,14,1014,Webcam,1,59.99,pending
14,15,1015,Power Bank,1,39.99,success
15,16,1016,Backpack,1,49.99,success
16,17,1017,Messenger Bag,1,59.99,failed
17,18,1018,Travel Duffel Bag,1,79.99,success
18,19,1019,Handbag,1,99.99,success
19,20,1020,Crossbody Bag,1,39.99,success

20 Data Produk dari Atas

,ID,Product Name,Category,Description,Price
0,1,Laptop,Electronics,A powerful laptop with high performance and lo...,999.99
1,2,Smartphone,Electronics,A sleek smartphone with advanced features and ...,799.99
2,3,Headphones,Electronics,High-quality headphones with noise-canceling t...,199.99
3,4,Smartwatch,Electronics,A smartwatch with fitness tracking,299.99
4,5,Bluetooth Speaker,Electronics,A portable Bluetooth speaker with deep bass an...,79.99
5,6,Tablet,Electronics,A lightweight tablet with a vibrant display an...,399.99
6,7,Desktop Computer,Electronics,A powerful desktop computer for gaming and pro...,1499.99
7,8,TV,Electronics,A 4K Ultra HD TV with HDR for stunning picture...,1499.99
8,9,Printer,Electronics,A multifunction printer for printing,199.99
9,10,Wireless Mouse,Electronics,A wireless mouse with ergonomic design and pre...,29.99
10,11,Wireless Keyboard,Electronics,A wireless keyboard with comfortable typing ex...,49.99
11,12,Gaming Console,Electronics,A gaming console with high-definition graphics...,399.99
12,13,External Hard Drive,Electronics,An external hard drive for storing and backing...,79.99
13,14,Webcam,Electronics,A webcam with high-definition video quality fo...,59.99
14,15,Power Bank,Electronics,A portable power bank for charging smartphones...,39.99
15,16,Backpack,Bags & Luggage,A durable backpack with multiple compartments ...,49.99
16,17,Messenger Bag,Bags & Luggage,A stylish messenger bag for carrying laptops a...,59.99
17,18,Travel Duffel Bag,Bags & Luggage,A spacious duffel bag with wheels for easy tra...,79.99
18,19,Handbag,Bags & Luggage,A fashionable handbag with plenty of room for ...,99.99
19,20,Crossbody Bag,Bags & Luggage,A versatile crossbody bag that can be worn mul...,39.99

### 4. Connection MySQL

In [32]:
connection = connect(
    db='data_ingest',
    host='127.0.0.1',
    user='root',
    password='',
)

### 5. Query Exection and Load Data (Database Source)

In [36]:
cursor = connection.cursor()
cursor.execute('SELECT * FROM customers')

result = cursor.fetchall()
df_customers = pd.DataFrame (result, columns=['ID', 'name', 'email', 'address'])
print('5 Data Customers dari Atas')
display(df_customers.head(5))

#insert data
cursor.execute ('INSERT INTO customers (name, email, address) VALUES (%s, %s, %s)', ('Juju', 'juju@gmail.com', 'jalan mawar'))
connection.commit()

5 Data Customers dari Atas

,ID,name,email,address
0,1,John Doe,john.doe@example.com,"123 Main St, City, Country"
1,2,Jane Smith,jane.smith@example.com,"456 Elm St, City, Country"
2,3,Michael Johnson,michael.johnson@example.com,"789 Oak St, City, Country"
3,4,Emily Brown,emily.brown@example.com,"101 Pine St, City, Country"
4,5,William Taylor,william.taylor@example.com,"202 Maple St, City, Country"

### 6. Request with API

In [29]:
url = 'https://fakestoreapi.com/products'

result = requests.get(url).json()
df_result = pd.DataFrame(result)
display(df_result.head(20))

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"
5,6,Solid Gold Petite Micropave,168.00,Satisfaction Guaranteed. Return or exchange an...,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...,"{'rate': 3.9, 'count': 70}"
6,7,White Gold Plated Princess,9.99,Classic Created Wedding Engagement Solitaire D...,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...,"{'rate': 3, 'count': 400}"
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,Rose Gold Plated Double Flared Tunnel Plug Ear...,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...,"{'rate': 1.9, 'count': 100}"
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,USB 3.0 and USB 2.0 Compatibility Fast data tr...,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...,"{'rate': 3.3, 'count': 203}"
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,"Easy upgrade for faster boot up, shutdown, app...",electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...,"{'rate': 2.9, 'count': 470}"
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,3D NAND flash are applied to deliver high tran...,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...,"{'rate': 4.8, 'count': 319}"
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,"Expand your PS4 gaming experience, Play anywhe...",electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...,"{'rate': 4.8, 'count': 400}"
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,21. 5 inches Full HD (1920 x 1080) widescreen ...,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...,"{'rate': 2.9, 'count': 250}"
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...,"{'rate': 2.2, 'count': 140}"
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,"Note:The Jackets is US standard size, Please c...",women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...,"{'rate': 2.6, 'count': 235}"
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,100% POLYURETHANE(shell) 100% POLYESTER(lining...,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...,"{'rate': 2.9, 'count': 340}"
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,Lightweight perfet for trip or casual wear---L...,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...,"{'rate': 3.8, 'count': 679}"
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,"95% RAYON 5% SPANDEX, Made in USA or Imported,...",women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...,"{'rate': 4.7, 'count': 130}"
18,19,Opna Women's Short Sleeve Moisture,7.95,"100% Polyester, Machine wash, 100% cationic po...",women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...,"{'rate': 4.5, 'count': 146}"
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,"95%Cotton,5%Spandex, Features: Casual, Short S...",women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...,"{'rate': 3.6, 'count': 145}"

### 7. Parquet

In [44]:
#menambah awalan pada nama kolom masing-masing DataFrame
df_transactions = df_transactions.add_prefix('transactions_')
df_products = df_products.add_prefix('products_')
df_customers = df_customers.add_prefix('customers_')

#gabung semua DataFrames menjadi satu DataFrame tunggal
combined_df = pd.concat([df_transactions, df_products, df_customers], axis=1)

#simpan DataFrame ke file Parquet
combined_df.to_parquet('combined_data.parquet')

print("Data telah disimpan dalam format Parquet.")

combined_df = pd.read_parquet('combined_data.parquet')
print(combined_df.head(5))

Data telah disimpan dalam format Parquet.
   transactions_transactions_transactions_Transaction ID  \
0                                                  1
1                                                  2
2                                                  3
3                                                  4
4                                                  5

   transactions_transactions_transactions_User ID  \
0                                            1001
1                                            1002
2                                            1003
3                                            1004
4                                            1005

  transactions_transactions_transactions_Item Name  \
0                                       Smartphone
1                                       Headphones
2                                           Laptop
3                                Bluetooth Speaker
4                                       Smartwatch

   transactions_transactions_transactions_Quantity  \
0                                                1
1                                                2
2                                                1
3                                                1
4                                                1

   transactions_transactions_transactions_Value (USD)  \
0                                             799.99
1                                             399.98
2                                             999.99
3                                              79.99
4                                             299.99

  transactions_transactions_transactions_Status  \
0                                       success
1                                       success
2                                       success
3                                       success
4                                       pending

   products_products_products_ID products_products_products_Product Name  \
0                              1                                  Laptop
1                              2                              Smartphone
2                              3                              Headphones
3                              4                              Smartwatch
4                              5                       Bluetooth Speaker

  products_products_products_Category  \
0                         Electronics
1                         Electronics
2                         Electronics
3                         Electronics
4                         Electronics

              products_products_products_Description  \
0  A powerful laptop with high performance and lo...
1  A sleek smartphone with advanced features and ...
2  High-quality headphones with noise-canceling t...
3                 A smartwatch with fitness tracking
4  A portable Bluetooth speaker with deep bass an...

   products_products_products_Price  customers_customers_customers_ID  \
0                            999.99                               1.0
1                            799.99                               2.0
2                            199.99                               3.0
3                            299.99                               4.0
4                             79.99                               5.0

  customers_customers_customers_name customers_customers_customers_email  \
0                           John Doe                john.doe@example.com
1                         Jane Smith              jane.smith@example.com
2                    Michael Johnson         michael.johnson@example.com
3                        Emily Brown             emily.brown@example.com
4                     William Taylor          william.taylor@example.com

  customers_customers_customers_address
0            123 Main St, City, Country
1             456 Elm St, City, Country
2             789 Oak St, City, Country
3            101 Pine St, City, Country
4           202 Maple St, City, Country